<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StateBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sbi.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.sbi.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dropdown</display-name>
    <servlet-name>Dropdown</servlet-name>
    <servlet-class>com.sbi.servlet.Dropdown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dropdown</servlet-name>
    <url-pattern>/Dropdown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropdownServlet</display-name>
    <servlet-name>DropdownServlet</servlet-name>
    <servlet-class>com.sbi.servlet.DropdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropdownServlet</servlet-name>
    <url-pattern>/DropdownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.sbi.servlet.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MomServlet</display-name>
    <servlet-name>MomServlet</servlet-name>
    <servlet-class>com.sbi.servlet.MomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MomServlet</servlet-name>
    <url-pattern>/MomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sbi.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet1</display-name>
    <servlet-name>LogoutServlet1</servlet-name>
    <servlet-class>com.sbi.servlet.LogoutServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet1</servlet-name>
    <url-pattern>/LogoutServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMomServlet</display-name>
    <servlet-name>ViewMomServlet</servlet-name>
    <servlet-class>com.sbi.servlet.ViewMomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMomServlet</servlet-name>
    <url-pattern>/ViewMomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionItemServlet</display-name>
    <servlet-name>ActionItemServlet</servlet-name>
    <servlet-class>com.sbi.servlet.ActionItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionItemServlet</servlet-name>
    <url-pattern>/ActionItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardServlet</display-name>
    <servlet-name>DashBoardServlet</servlet-name>
    <servlet-class>com.sbi.servlet.DashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardServlet</servlet-name>
    <url-pattern>/DashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.sbi.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationServlet</display-name>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>com.sbi.servlet.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionOfMeetingServlet</display-name>
    <servlet-name>ActionOfMeetingServlet</servlet-name>
    <servlet-class>com.sbi.servlet.ActionOfMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionOfMeetingServlet</servlet-name>
    <url-pattern>/ActionOfMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotifyServlet</display-name>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.sbi.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/NotifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateActionStatusServlet</display-name>
    <servlet-name>UpdateActionStatusServlet</servlet-name>
    <servlet-class>com.sbi.servlet.UpdateActionStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateActionStatusServlet</servlet-name>
    <url-pattern>/UpdateActionStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMomFindServlet</display-name>
    <servlet-name>UpdateMomFindServlet</servlet-name>
    <servlet-class>com.sbi.servlet.UpdateMomFindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMomFindServlet</servlet-name>
    <url-pattern>/UpdateMomFindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMomServlet</display-name>
    <servlet-name>UpdateMomServlet</servlet-name>
    <servlet-class>com.sbi.servlet.UpdateMomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMomServlet</servlet-name>
    <url-pattern>/UpdateMomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSearchServlet</display-name>
    <servlet-name>UpdateSearchServlet</servlet-name>
    <servlet-class>com.sbi.servlet.UpdateSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchServlet</servlet-name>
    <url-pattern>/UpdateSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.sbi.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDeptReportsServlets</display-name>
    <servlet-name>ViewDeptReportsServlets</servlet-name>
    <servlet-class>com.sbi.servlet.ViewDeptReportsServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDeptReportsServlets</servlet-name>
    <url-pattern>/ViewDeptReportsServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeReportServlet</display-name>
    <servlet-name>ViewEmployeeReportServlet</servlet-name>
    <servlet-class>com.sbi.servlet.ViewEmployeeReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeReportServlet</servlet-name>
    <url-pattern>/ViewEmployeeReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDropdownServlet</display-name>
    <servlet-name>EmployeeDropdownServlet</servlet-name>
    <servlet-class>com.sbi.servlet.EmployeeDropdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDropdownServlet</servlet-name>
    <url-pattern>/EmployeeDropdownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReportsServlet</display-name>
    <servlet-name>EmployeeReportsServlet</servlet-name>
    <servlet-class>com.sbi.servlet.EmployeeReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReportsServlet</servlet-name>
    <url-pattern>/EmployeeReportsServlet</url-pattern>
  </servlet-mapping>
</web-app>